<div class="bg-light shadow-lg p-4 mb-5 rounded">
    <h2>Editing Reward</h2>

    <%= render 'form', reward: @reward %>
    <hr class="my-4">

    <div class="d-grid gap-1 d-md-flex mx-left">
        <%= link_to 'Show This Reward', admin_reward_path(@reward), class:"btn btn-primary" %>
        <%= button_to 'Destroy This Reward!', admin_reward_path(@reward), method: :delete, :onclick => "return confirm('Are you sure you want to delete this Reward?')", class:"btn btn-danger" %>
        <%= link_to 'Back To Rewards List', admin_rewards_path, class:"btn btn-secondary" %>
    </div>
</div>
