<div class="bg-light shadow-lg p-4 mb-5 rounded">
<h2>Create New Reward!</h2>

<%= render 'form', reward: @reward %>

<hr class="my-4">
<%= link_to 'Back To Rewards List', admin_rewards_path, class:"btn btn-secondary" %>
</div>
