<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">RERA Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
 
        <% if admin_user_signed_in? %>

          <li class="nav-item">
            <a class="btn btn-outline-info me-md-1 pe-none">Logged as: <%= current_admin_user.email %></a>
          </li>

          <li class="nav-item">
            <%= link_to 'Log out', destroy_admin_user_session_path, method: :delete, class: 'btn btn-outline-danger' %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br/><br/><br/>
